---
layout: markdown_page
title: Release Post Managers
---

%div{:style => "margin: 25px 0px; "}
  %h3 Release Post Scheduling
  Each month a Product Manager, a Product Marketing Manager, or a Technical
  Writer will lead the release post, as defined in the
  #{link_to "Release Posts page", "../#authorship"}.

%table.table-responsive{:style => "margin-bottom: 25px;"}
  %thead
    %tr
      %th{:style => "padding-right: 50px; text-align: right;"}
        Version
      %th
        Manager
      %th
        Release date
  %tbody
    - [*data.release_post_managers.releases, nil].each_cons(2) do |r|
      - manager = data.release_post_managers.managers.find {|m| m.handle == r[0].manager}
      - date = Date.parse(r[0].date)
      %tr
        %td{:style => "padding-right: 50px; text-align: right;"}
          - if (date - Date.today).to_i < 0
            = link_to "#{r[0].version}", "/#{date.strftime('%Y/%m/%d')}/gitlab-#{r[0].version.tr('.', '-')}-released"
          - else
            - if r[1] && (Date.parse(r[1].date) - Date.today).to_i < 0
              = "➡&nbsp;&nbsp;&nbsp;"
            = r[0].version
        %td
          - if manager
            = link_to "#{manager.name}", "/team/##{manager.team_page}"
        %td
          = date.strftime("%B #{date.day.ordinalize}, %Y (%a)")
