---
title: Auto DevOps
description: Auto DevOps
suppress_header: true
extra_css:
  - auto-devops.css
extra_js:
  - autodevops-scroll.js
---
.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg" }
  .flex-container.flex-column.justify-center.align-center
    %img.hero-image-large{ src: "/images/icons/auto-devops.svg" }
    %h1 Auto DevOps
    %p Two steps to done
    %a.btn.cta-btn.accent{ href: "/pricing/#gitlab-com" } Sign up for GitLab
.content-container
  .autodevops-animation-container
    %video.autodevops-animation{ loop: "", autoplay: "", playsinline: "", muted: ""}
      %source{:src => "/video/autodevops-animation/autodevops-animation.mp4", :type => "video/mp4"}
      %source{:src => "/video/autodevops-animation/autodevops-animation.ogv", :type => "video/ogv"}
      %source{:src => "/video/autodevops-animation/autodevops-animation.webm", :type => "video/webm"}
      Your browser does not support the video tag.
  .content.tile
    %p DevOps is ultimately about reliably delivering high quality software faster, for better business outcomes. This is done by changing the culture of collaboration which design, implementation, support and maintenance work within, and by automating processes. The tools you use can either help or hinder that effort.

    %p GitLab Auto DevOps eliminates the complexities of getting going with automated software delivery by automatically setting up the pipeline and necessary integrations, freeing up your teams to focus on the culture part. With Auto DevOps, everyone can skip the manual work of configuration, and focus on the creative and human aspects of software creation.

    %p Auto DevOps simplifies and accelerates delivery with a complete delivery pipeline out of the box. Simply commit code and GitLab does the rest.  Auto DevOps . . .

    %ul
      %li detects the language of the code
      %li automatically builds, tests, and measures code quality
      %li scans for security and licensing issues
      %li packages
      %li instruments (for monitoring)
      %li and deploys the application

    %p Auto DevOps gives teams the freedom to focus on innovation and let the pipeline manage the rest.
  .content.prereqs.full-width
    %h1.text-center Setup
    .flex-container.prereq.full-width
      .flex-container.justify-center.align-center.full-width
        %img.prereq-image.full-width{ src: "/images/autodevops/signup.png" }
      .flex-container.flex-column.flex-start.justify-center.full-width
        %h2 Sign up
        %p Get an account on GitLab.com or a set up GitLab on your self-hosted server.
        %a.btn.cta-btn.accent{ href: "/pricing/#gitlab-com" } Sign up for GitLab
    .flex-container.prereq.full-width
      .flex-container.justify-center.align-center.full-width
        %img.prereq-image.full-width{ src: "/images/autodevops/license.png" }
      .flex-container.flex-column.flex-start.justify-center.full-width
        %h2 Get a license
        %p Install your license to begin connecting your server.
        %a.btn.cta-btn.accent{ href: "/pricing/#gitlab-com" } Get a license
    .flex-container.prereq.full-width
      .flex-container.justify-center.align-center.full-width
        %img.prereq-image.full-width{ src: "/images/autodevops/cluster.png" }
      .flex-container.flex-column.flex-start.justify-center.full-width
        %h2 Connect your cluster
        %p
          :markdown
            Connect GitLab to your Kubernetes cluster. Don't have a cluster? Create one in a few clicks with the [GitLab GKE integration](/google-cloud-platform).
        %a.btn.cta-btn.accent{ href: "/kubernetes/" } How to connect
    .flex-container.prereq.full-width
      .flex-container.justify-center.align-center.full-width
        %img.prereq-image.full-width{ src: "/images/autodevops/runners.png" }
      .flex-container.flex-column.flex-start.justify-center.full-width
        %h2 Install Runners
        %p Install CI runners to get your server going (not needed on GitLab.com).
        %a.btn.cta-btn.accent{ href: "https://docs.gitlab.com/runner/install/" } Read the docs
